html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Menu Principal</h1>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <!-- ELIMINADO: <li><a href="/tareas">Ver Tareas</a></li> -->
    </ul>
<hr>
<!-- Aqui definimos en donde se agregara contenido despues del menu -->
{% block contenido %}

{% endblock %}

</body>
</html>